doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="resume.css")
    link(rel="stylesheet", href="./fontawesome-free-6.2.1-web/css/all.min.css")
    title Resumen Curricular
  body 
    .container1
      .fotoPerfil 
        img(src="../assets/images/perfil.jpg", alt="")
      .perfil
        h1 Arturo Battistini
        h4 Front-End Software Engineer
      .about
        h3 Acerca de mi
        
        h4 Amante a la vida, a las personas de bien, al mar y al código
        
        p Me gusta la programación y diseño desde hace mucho tiempo, sin embargo solo en el último año he estudiado en serio y cada día siento que es a lo que me quiero dedicar toda la vida.
      .infoContainer
        .contact
          h3 Contactame
          a(href="mailto:aabattistini@gmail.com" target=("blank")) aabattistini@gmail.com
        .social
          h3 Social Media

          .socialContainer
            a(href="https://github.com/Arturo-Battistini" target="blank") <i class="fa-brands fa-github" > </i>
            a(href="https://www.instagram.com/artutobattistini/" target="blank") <i class="fa-brands fa-instagram"></i>
            a(href="https://twitter.com/ArturoBattisti5" target="blank") <i class="fa-brands fa-twitter"></i>
            a(href="https://www.linkedin.com/in/arturo-battistini-447a6a250/" target="blank") <i class="fa-brands fa-linkedin-in"></i>        

    .container2 
      .educacion
        .educacionContainer1.sameStylesEducacion
          h2 Educación
          h3 Programación y diseño
          p Estudié ingeniería en informática, he hecho algunos cursos relacionados al Font-End y algunos otros  al Back-End, Revisalos 
            a(href="https://platzi.com/p/andresbattistini/" target="blank") aquí.
        .educacionContainer2.sameStylesEducacion
          h3 Aspiraciones
          p Mi objetivo es estar haciendo al menos un par de cursos al mes, con objetivos claros hacia mi meta, ser desarrollador Full-Stack.
        .educacionContainer3.sameStylesEducacion
          h3 Proyección
          p Incrementar mis conocimientos cada vez que tenga oportunidad.
      .experiencia
        .experienciaContainer1.sameStylesExperiencia
          h2 Experiencia
          h3 Hyve Solutions
          p Una empresa de tecnología  en Memphis Tennessee, donde trabaje con servidores físicos en área de testing.
        .experienciaContainer2.sameStylesExperiencia
          h3 Hyve Solutions coach
          p Formación de nuevos compañeros enseñándoles la ruta de aprendizaje desde el código hasta el hardware.
        .experienciaContainer3.sameStylesExperiencia
          h3 Hardware, software y redes
          p He desempeñado trabajos varios con hardware de diferentes niveles, me adapto muy bien a la maquinaria Informática.
    .container3 
      .skillContainer1
        h3 Habilidades en software
        .iconContainer
          .span
            <i class="fa-brands fa-html5"></i> 
            p HTML
          .span
            <i class="fa-brands fa-css3-alt"></i>
            p css
          .span
            <i class="fa-brands fa-node-js"></i>
              p JS
          .span
            <i class="fa-brands fa-sass"></i> 
            p SASS
          .span
            <i class="fa-solid fa-code"></i> 
            p VSC
      .skillContainer2
        h3 Idiomas 
        .idiomascontainer
          .spanish 
            span Español
            .circleContainer
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>

          .english 
            span English 
            .circleContainer
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>

      .skillContainer3
        h3 Intereses
        .interesesContainer
          .spani
            <i class="fa-solid fa-dumbbell"></i>
            p Gimnasio
          .spani
            <i class="fa-solid fa-plane"></i>
            p Viajar
          .spani
            <i class="fa-solid fa-file-code"></i>
            p Código
          .spani
            <i class="fa-solid fa-people-roof"></i>
            p Familia
          .spani
            <i class="fa-solid fa-person-swimming"></i>
            p Nadar 


